/* Raleway Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Intel google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.raleway-font{
    font-family: "Raleway", sans-serif;
}
.intel-font{
    font-family: "Inter", sans-serif;
}
.border-down{
    border-bottom: 2px solid #1DD100;
}
.mj-poribahan-container{
    border-top: 2px solid #1DD100;
    border-radius: 40px 40px 0px;
}